.yjfk {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    background-color: #f2f4f9;
}
.suggestion {
    width: 800px;
    height: 800px;
    margin: 0 auto;
}
#suggestion-t {
    width: 800px;
    height: 40px;
    margin: 0 auto;
}
#suggestion-t p{
    font-size: 24px;
    padding-top: 40px;
    padding-left: 40px;
}
#suggestion-t input {
    margin-left: 40px;
    margin-top: 10px;
}
#suggestion-b {
    width: 800px;
    height: auto;
    margin: 0 auto;
}
#suggestion-b p{
    font-size: 24px;
    padding-top: 80px;
    padding-left: 40px;
}
#suggestion-b textarea{
    margin-left: 40px;
    margin-top: 10px;
    resize: none;
}
#suggestion-sub input {
    width: 100px;
    height: 61px;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 3px;
    background-color: #9CDD75;
    transition: all 0.5s;
    font-size: 18px;
    color: white;
    font-family: 微软雅黑;
}
#suggestion-sub input:hover {
    background-color: #539D26;
    
}